# 02.6 Pre Processing - Train And Test Data

In [16]:
import pandas
import numpy as np
from sklearn.impute import SimpleImputer

In [17]:
df = pandas.read_csv("02-pre-process-data.csv")
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [18]:
# take all the rows, take all the columns except the last column one
X = df.iloc[:,:-1].values # will contains the values of the columns 'Country', 'Age', 'Salary'

# take all the rows, take only the last column
y = df.iloc[:, -1].values # will contains the values of the column 'Purchased'

## Fix the Input Data

In [19]:
# replace all the NaN with the average (mean) value of the column
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:3]) # all the rows, but only take the columns 'Age' + 'Salary'
X[:, 1:3] = imputer.transform(X[:, 1:3]) # all the rows, but only take the columns 'Age' + 'Salary'
# only the columns 'Age' + 'Salary' got modified

## Now split it as Train/Test sets

In [20]:
from sklearn.model_selection import train_test_split
# test_size=0.2 -> we take 20% of the dataset for testing (10 rows -> 20% of 10 -> 2 rows for testing)
# random_state=1 -> this is just used here for teaching -> it will ensure the same rows are always used -> do not use in production
(X_train, X_test, y_train, y_test) = train_test_split(X, y, test_size=0.2, random_state=1)

### Train Data

In [21]:
X_train

array([['Spain', 38.77777777777778, 52000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 44.0, 72000.0],
       ['Spain', 38.0, 61000.0],
       ['Spain', 27.0, 48000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 35.0, 58000.0]], dtype=object)

In [22]:
y_train

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes'], dtype=object)

### Test/Validation Data

In [23]:
X_test

array([['Germany', 30.0, 54000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [24]:
y_test

array(['No', 'Yes'], dtype=object)